@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--color-iua-bg-neg-1);
    color: var(--color-iua-fg-vivid);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --spacing-iua-xs: 4px;
    --spacing-iua-sm: 8px;
    --spacing-iua-md: 12px;
    --spacing-iua-lg: 24px;
    --spacing-iua-xl: 48px;

    --sizing-iua-xs: 60px;
    --sizing-iua-sm: 120px;
    --sizing-iua-md: 240px;
    /* 아래는 용도를 모르겠다 */
    --sizing-iua-lg: 480px;
    --sizing-iua-xl: 960px;

    --shadow-iua-sm:
        inset 0px 1px 2px oklch(from var(--color-iua-fg-vivid) l c h / 0.2), 0px 4px 4px -1px #00000025,
        0px 2px 2px -2px #00000025;
    --shadow-iua-md:
        inset 0px 1px 2px oklch(from var(--color-iua-fg-vivid) l c h / 0.4), 0px 6px 6px -2px #00000025,
        0px 3px 3px -3px #00000025;
    --shadow-iua-lg:
        inset 0px 1px 2px oklch(from var(--color-iua-fg-vivid) l c h / 0.6), 0px 24px 24px -8px #00000025,
        0px 12px 12px -12px #00000025;

    --shadow-inward-iua-sm: inset 0px -1px 2px oklch(from var(--color-iua-fg-vivid) l c h / 0.3);
    --shadow-inward-iua-md: inset 0px -1px 2px oklch(from var(--color-iua-fg-vivid) l c h / 0.4);
    --shadow-inward-iua-lg: inset 0px -1px 2px oklch(from var(--color-iua-fg-vivid) l c h / 0.6);

    --radius-iua-sm: 6px;
    --radius-iua-md: 12px;
    --radius-iua-lg: 24px;

    --text-iua-xs: 12px;
    --text-iua-sm: 14px;
    --text-iua-md: 16px;
    --text-iua-lg: 18px;
    --text-iua-xl: 24px;

    --color-iua-bg-neg-1: oklch(from var(--color-iua-bg-0) calc(l + 0.01) c h);
    --color-iua-bg-0: oklch(from var(--color-iua-bg-base) l c h);
    --color-iua-bg-1: oklch(from var(--color-iua-bg-0) calc(l - 0.01) c h);
    --color-iua-bg-2: oklch(from var(--color-iua-bg-1) calc(l - 0.01) c h);

    --color-iua-fg-vivid: oklch(from var(--color-iua-fg-base) l c h);
    --color-iua-fg-muted: oklch(from var(--color-iua-fg-vivid) l c h / 0.6);
    --color-iua-fg-dim: oklch(from var(--color-iua-fg-muted) l c h / 0.6);

    --color-iua-fg-inverted-vivid: oklch(from var(--color-iua-fg-inverted-base) l c h);
    --color-iua-fg-inverted-muted: oklch(from var(--color-iua-fg-inverted-vivid) l c h / 0.6);
    --color-iua-fg-inverted-dim: oklch(from var(--color-iua-fg-inverted-muted) l c h / 0.6);

    --color-iua-red-neg-1: oklch(from var(--color-iua-red-0) l c h / 0.6);
    --color-iua-red-0: oklch(from var(--color-iua-red-base) l c h);
    --color-iua-red-1: oklch(from var(--color-iua-red-0) calc(l - 0.01) c h);
    --color-iua-red-2: oklch(from var(--color-iua-red-1) calc(l - 0.01) c h);

    --color-iua-yellow-neg-1: oklch(from var(--color-iua-yellow-0) l c h / 0.6);
    --color-iua-yellow-0: oklch(from var(--color-iua-yellow-base) l c h);
    --color-iua-yellow-1: oklch(from var(--color-iua-yellow-0) calc(l - 0.01) c h);
    --color-iua-yellow-2: oklch(from var(--color-iua-yellow-1) calc(l - 0.01) c h);

    --color-iua-green-neg-1: oklch(from var(--color-iua-green-0) l c h / 0.6);
    --color-iua-green-0: oklch(from var(--color-iua-green-base) l c h);
    --color-iua-green-1: oklch(from var(--color-iua-green-0) calc(l - 0.01) c h);
    --color-iua-green-2: oklch(from var(--color-iua-green-1) calc(l - 0.01) c h);

    --color-iua-blue-neg-1: oklch(from var(--color-iua-blue-0) l c h / 0.6);
    --color-iua-blue-0: oklch(from var(--color-iua-blue-base) l c h);
    --color-iua-blue-1: oklch(from var(--color-iua-blue-0) calc(l - 0.01) c h);
    --color-iua-blue-2: oklch(from var(--color-iua-blue-1) calc(l - 0.01) c h);

    /* following is for ghostty theme */

    --color-iua-bg-base: light-dark(oklch(0.8 0.01 250), oklch(0.2 0.01 250));
    --color-iua-fg-base: light-dark(oklch(0.19 0.01 110), oklch(0.81 0.01 110));
    --color-iua-fg-inverted-base: light-dark(oklch(0.81 0.01 110), oklch(0.19 0.01 110));
    --color-iua-red-base: light-dark(oklch(0.38 0.14 25), oklch(0.62 0.14 25));
    --color-iua-yellow-base: light-dark(oklch(0.16 0.11 85), oklch(0.84 0.11 85));
    --color-iua-green-base: light-dark(oklch(0.24 0.12 110), oklch(0.76 0.12 110));
    --color-iua-blue-base: light-dark(oklch(0.32 0.07 240), oklch(0.68 0.07 240));
}

/* [data-schema="ghostty"] { */
/* } */
